{% extends 'base.html' %}
{% load static %}

{% block title %}memlink.to{% endblock %}
{% block active_anchor_id %}anchorCreate{% endblock %}

{% block content %}
    <div class="input-group mb-3">
      <span class="input-group-text">URL</span>
      <input id="inputLongUrl" type="text" class="form-control" placeholder="your long URL" aria-label="Long URL" aria-describedby="basic-addon"/>
      <div id="divSpinner" class="spinner-border m-2 invisible" role="status" style="border-radius: 60%">
          <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div id="divSuccess" class="alert alert-success d-none">
        <strong>Success!</strong> Please find your short URL below.
    </div>
    <div id="divWarning" class="alert alert-warning d-none">
        <strong>Invalid long URL!</strong> Please make sure that the long URL is valid.
    </div>
    <div id="divUnsafeWarning" class="alert alert-warning d-none">
        <strong>Unsafe URL!</strong> The entered URL points to a potentially unsafe website.
    </div>
    <h6 class="display-6 text-center">
        <a id="anchorShortUrl"></a>
    </h6>
    <div id="divLongUrl" class="fw-light fs-6 text-wrap text-center"></div>
{% endblock %}

{% block extra_script %}
    <script type="application/javascript" src="{% static 'memlinkto_app/create.js' %}"></script>
{% endblock %}